<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
    crossorigin="anonymous">
</head>

<body style="padding: 20px;">
  
  <% include ./partials/_header %> 

    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>Shortened URL</th>
          <th>Full URL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href='/u/<%= shorturl %>'>
              <%= shorturl %>
            </a>
          </td>
          <td>
            <%= urls[shorturl].longURL %>
          </td>
        </tr>
      </tbody>
    </table>
    <form class="pure-form" action="/urls/<%= shorturl %>/update" method="POST" style="margin-top: 20px;">
      <label for="longURL">Edit full URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= urls[shorturl].longURL %>" style="width: 300px">
      <input class="pure-button pure-button-primary" type="submit" value="Edit">
    </form>
</body>
</html>



    