<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
    crossorigin="anonymous">
</head>

<body style="padding:20px;">
  <% include ./partials/_header %> 

    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Shortened URL</th>
          <th>Edit URL</th>
          <th>Delete URL</th>
        </tr>
      </thead>
      <tbody>
        <% for (let url in urls) { %>
          <tr>
            <td>
              <%= urls[url] %>
            </td>
            <td>
              <a href='/u/<%= url %>'>
                http://t.iny.io/u/<%= url %>
              </a>
            </td>
            <td>
              <form class="pure-form" method="GET" action="/urls/<%= url %>">
                <input class="pure-button" type="submit" value="Edit">
              </form>
            </td>
            <td>
              <form class="pure-form" method="POST" action="/urls/<%= url %>/delete">
                <input class="pure-button" type="submit" value="Delete">
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
      <div style="margin: 20px 0;"><a href="/urls/new"><button class="pure-button pure-button-primary">Click here</button></a> if you want to shorten a URL</div>
</body>

</html>